[submodule "SOAP-Service"]
	path = SOAP-Service
	url = https://github.com/AlphaThrone/SOAP-Service
[submodule "PHP-App"]
	path = PHP-App
	url = https://github.com/AlphaThrone/PHP-App
[submodule "rest-service"]
	path = rest-service
	url = https://github.com/AlphaThrone/rest-service
